{% extends '_base.html' %}
{% block content %}
<div class = "formcontainer" style="color:black">
    <h3 text-declaration="underline">What is Pitt RideShare?</h3>
        Going home for breaks and need a ride? Want to see a concert downtown but don't want to pay the full uber price? Want to save the environment by carpooling?<br><b4>
        Pitt RideShare is designed to help you solve these problems! Create a profile today to connect with other Pitt students who want to carpool with you to get to your destination without spending too much money or effort.<br><br>
        You will be able to search other people's posts, create a post of your own, message people for information, and more!
    <h3>How It Works</h3>
        First, login to verify your account or create an account if you have not yet. This way you will be able to save all of your information such as where you usually go or contact information for easier access. <br><br>
        After that, you will have access to see all of the postings, and even create a post yourself for people to see. You will then be able to privately message people in order to organize a ride!
</div>
{% endblock %}